
<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Status</th>
    <th>Approver First Name</th>
    <th>Approver Last Name</th>
  </tr>
  </thead>
  <tbody *ngFor="let obj of listing">
    <tr>
      <td>{{obj.amount | currency:'USD'}}</td>
      <td>{{categoryToString(obj.category)}}</td>
      <td>{{statusToString(obj.status)}}</td>
      <td>{{obj.approverFirst}}</td>
      <td>{{obj.approverLast}}</td>
      <td><img [src]="obj.image" height="200" alt="Image preview..."></td>
    </tr>
  </tbody>
</table>
</div>
