li {
    background-color: aqua;

}
h1 {
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    background-color: yellow;
}

div {
    background-color: fuchsia;
}