li{
    background-color: aqua;
}
h1{
    background-color: red;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    background-color: goldenrod;
}
div{
    background-color: purple;
}