<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <div class="collapse navbar-collapse">
            <a [routerLink]='["/"]' class="navbar-brand text-light">Angular Rocks</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a [routerLink]='["/data-binding"]' class="nav-link text-light">Data Binding</a></li>
                <li class="nav-item"><a [routerLink]='["/http-example"]' class="nav-link text-light">HTTP Example</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>