<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Requester First</th>
      <th>Requester Last</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Status</th>
      <th>Approver First Name</th>
      <th>Approver Last Name</th>
    </tr>
    </thead>
    <tbody *ngFor="let obj of listing">
    <tr>
      <td>{{obj.requesterFirst}}</td>
      <td>{{obj.requesterLast}}</td>
      <td>{{obj.amount}}</td>
      <td>{{categoryToString(obj.category)}}</td>
      <td>{{statusToString(obj.status)}}</td>
      <td>{{obj.approverFirst}}</td>
      <td>{{obj.approverLast}}</td>
      <td><button (click)="approve(obj.rid)" class="btn btn-success">Approve</button></td>
      <td><button (click)="approve(obj.rid)" class="btn btn-success">Deny</button></td>
    </tr>
    </tbody>
  </table>
</div>
