
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto','Merriweather', 'Times New Roman', Times, serif;
  /* font-weight: 700; */
}

body {
    font-family: 'Roboto','Merriweather', 'Times New Roman', Times, serif;
    
    background-color: powderblue;
  }